body{
    background-color: rgb(23, 34, 59);
    color: white;
    text-align: center;
}

nav{
    border-radius: 100px;
    margin: 10px;
}

@media screen and (max-width: 480px) {
    nav{
        border-radius: 0px;
        margin: 0px;
}
}