body{
    background-color: rgb(23, 34, 59);
    color: white;
    text-align: center;
}

nav{
    border-radius: 100px;
    margin: 10px;
    text-align: center;
}

.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    nav{
        border-radius: 0px;
        margin: 0px;
}
}



::-webkit-scrollbar {
    width: 10px;

}


::-webkit-scrollbar-track {
    background-color: rgb(23, 34, 59);

}

::-webkit-scrollbar-thumb {
    background-color: #343a40;

    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}