{% extends 'base.html' %}

{% block title %}Blog - Crear{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_article.css') }}">

<body>
    <h1>Crear artículo</h1>
    <form action="{{ url_for('create_article') }}" method="POST" enctype="multipart/form-data">
        <label for="title">Título:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="content">Contenido:</label><br>
        <textarea id="content" name="content"></textarea><br><br>
        <label for="type">Tipo:</label><br>
        <select id="type" name="type">
            <option value="article">Artículo</option>
            <option value="tutorial">Tutorial</option>
        </select><br><br>
        <label for="tags">Etiquetas (separadas por comas):</label><br>
        <input type="text" id="tags" name="tags"><br><br>
        <label for="image">Imagen:</label><br>
        <input type="file" id="image" name="image"><br><br>
        <input type="submit" value="Crear artículo">
    </form>
</body>
</html>
{% endblock %}
