{% extends 'base.html' %}

{% block title %}Blog - yoezequiel{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <h1>Últimos artículos</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        {% for article in articles %}
            <div class="article">
                <h2><a href="{{ url_for('view_article', article_id=article[0]) }}">{{ article[1] }}</a></h2>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
